{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="titulo">Clientes</h1>

    <a class="btn" href="{% url 'criar_cliente' %}">+ Novo Cliente</a>

    <div class="box-clientes">

        <ul>
            {% for cliente in clientes %}
                <li class="cliente-item">

                    <div>
                        <strong>{{ cliente.nome }}</strong><br>
                        <span>{{ cliente.email }}</span>
                    </div>

                    <div class="acoes">
                        <a class="btn-editar" href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                        <a class="btn-deletar" href="{% url 'deletar_cliente' cliente.id %}">Deletar</a>
                    </div>

                </li>
            {% empty %}
                <li>Nenhum cliente cadastrado</li>
            {% endfor %}
        </ul>

    </div>

</div>
<p class="nome-fantasia">TREM FLOW</p>
{% endblock %}