{% extends 'base.html' %}

{% block content %}

<div class="form-box">
    <h1>Produto</h1>

    <form method="POST">
        {% csrf_token %}

        <div class="campo">
            <label>Nome</label>
            {{ form.nome }}
        </div>

        <div class="campo">
            <label>Preço</label>
            {{ form.preco }}
        </div>

        <div class="campo">
            <label>Quantidade</label>
            {{ form.quantidade }}
        </div>

        <button type="submit">Salvar</button>
    </form>

    <a class="link-voltar" href="{% url 'produtos' %}">Voltar</a>
</div>

<p class="nome-fantasia">TREM FLOW</p>

{% endblock %}