{% extends 'base.html' %}

{% block content %}

<h1>Dashboard</h1>
<p class="subtitulo">Bem-vindo ao sistema TREM FLOW</p>

<div class="dashboard">

    <a href="{% url 'clientes' %}" class="card">
        <div class="icone">👤</div>
        <h2>Clientes</h2>
        <p>{{ total_clientes }}</p>
    </a>

    <a href="{% url 'produtos' %}" class="card">
        <div class="icone">📦</div>
        <h2>Produtos</h2>
        <p>{{ total_produtos }}</p>
    </a>

    <a href="{% url 'pedidos' %}" class="card">
        <div class="icone">🧾</div>
        <h2>Pedidos</h2>
        <p>{{ total_pedidos }}</p>
    </a>

</div>


{% endblock %}