{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="titulo">Pedidos</h1>

    <a class="btn" href="{% url 'criar_pedido' %}">+ Novo Pedido</a>

    <div class="box-pedidos">

        <ul>
            {% for pedido in pedidos %}
                <li class="pedido-item">

                    <div>
                        <strong>Pedido #{{ pedido.id }}</strong><br>
                        <span>
                            Cliente: {{ pedido.cliente.nome }} |
                            Produto: {{ pedido.produto.nome }} |
                            Qtd: {{ pedido.quantidade }} |
                            Data: {{ pedido.data|date:"d/m/Y H:i" }}
                        </span>
                    </div>

                </li>
            {% empty %}
                <li>Nenhum pedido cadastrado</li>
            {% endfor %}
        </ul>

    </div>

</div>
<p class="nome-fantasia">TREM FLOW</p>
{% endblock %}