{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="titulo">Produtos</h1>

    <a class="btn" href="{% url 'criar_produto' %}">+ Novo Produto</a>

    <div class="box-produtos">

        <ul>
            {% for produto in produtos %}
                <li class="produto-item">

                    <div>
                        <strong>{{ produto.nome }}</strong><br>
                        <span>R$ {{ produto.preco }} | Qtd: {{ produto.quantidade }}</span>
                    </div>

                    <div class="acoes">
                        <a class="btn-editar" href="{% url 'editar_produto' produto.id %}">Editar</a>
                        <a class="btn-deletar" href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                    </div>

                </li>
            {% empty %}
                <li>Nenhum produto cadastrado</li>
            {% endfor %}
        </ul>

    </div>

</div>
<p class="nome-fantasia">SHOW FLOW</p>
{% endblock %}